.displayTable {
  display: flex;
  justify-content: center;
  align-items: center;
}

.displayTable .displayTableCell {
  width: 30%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.displayTable .reset {
  display: flex;
  justify-content: flex-end;
  margin: 8px 0;
}
.reset .resetbutton {
  font-weight: 700;
  font-size: 12px;
  padding: 5px 25px;
  border-radius: 6px;
}
.displayTable .authBlock {
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  padding: 25px;
}

.displayTable .redirectToLogin {
  text-align: center;
  margin-top: 10px;
}

.redirectToLogin .maintext {
  font-size: 15px;
  font-weight: 400;
}

.maintext .redirect {
  color: #345fd7;
  font-weight: 500 !important;
  cursor: pointer;
}

.maintext .redirect:hover {
  text-decoration: underline;
}
