<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3 class="text-center my-3" style="font-size: 23px; font-weight: 500">
        Reset Password
      </h3>

      <hr />
      <p class="text-center">
        Please enter your email address to request a password reset.
      </p>

      <div class="form-group">
        <input
          type="email"
          class="form-control"
          placeholder="Email Address"
          #passwordResetEmail
          [formControl]="fieldEmail"
          required
        />

        <div
          class="alert alert-danger"
          role="alert"
          style="
            padding: 0 15px;
            font-size: 10px;
            text-align: center;
            margin: 0;
          "
          *ngIf="fieldEmail.invalid && fieldEmail.touched"
        >
          <span class="text-danger">Email is Required</span>
        </div>
      </div>

      <!-- Calling ForgotPassword from AuthService Api -->
      <div class="reset">
        <button
          type="submit"
          class="btn btn-primary resetbutton"
          (click)="authService.ForgotPassword(passwordResetEmail.value)"
          [disabled]="isSignup"
          [ngStyle]="{ cursor: isSignup ? 'no-drop' : 'pointer' }"
        >
          Reset Password
        </button>
      </div>
    </div>

    <div class="redirectToLogin">
      <span class="maintext"
        >Go back to ?
        <span class="redirect" routerLink="/sign-in">Log In</span></span
      >
    </div>
  </div>
</div>
