.displayTable {
  display: flex;
  justify-content: center;
  align-items: center;
}

.displayTable .resetpass {
  font-size: 23px;
  font-weight: 500;
  margin: 1rem 0;
}

.displayTable .displayTableCell {
  width: 30%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.displayTable .reset {
  display: flex;
  justify-content: flex-end;
  margin: 8px 0;
}
.reset .resetbutton {
  font-weight: 700;
  font-size: 12px;
  padding: 5px 25px;
  border-radius: 6px;
}
.displayTable .authBlock {
  box-shadow: rgb(0 0 0 / 24%) 0px 3px 8px;
  padding: 25px;
  border-radius: 10px;
}

.displayTable .redirectToLogin {
  text-align: center;
  margin-top: 10px;
}

.redirectToLogin .maintext {
  font-size: 15px;
  font-weight: 400;
}

.maintext .redirect {
  color: #345fd7;
  font-weight: 500 !important;
  cursor: pointer;
}

.maintext .redirect:hover {
  text-decoration: underline;
}

@media (max-width: 1091px) {
  .displayTable .displayTableCell {
    width: 40%;
  }
}

@media (max-width: 991px) {
  .displayTable .displayTableCell {
    width: 42%;
  }

  .displayTable .authBlock {
    padding: 20px 25px;
  }

  .displayTable .resetpass {
    font-size: 23px;
    margin: 0.75rem 0;
  }
}

@media (max-width: 791px) {
  .displayTable .displayTableCell {
    width: 55%;
  }

  .displayTable .resetpass {
    font-size: 22px;
  }

  .authBlock p {
    font-size: 15px;
  }
  .authBlock .form-control {
    font-size: 12px !important;
  }
}

@media (max-width: 591px) {
  .displayTable .displayTableCell {
    width: 70%;
  }

  .displayTable .resetpass {
    font-size: 20px;
    margin: 0.55rem 0;
  }

  .authBlock p {
    font-size: 13px;
  }

  .reset .resetbutton {
    font-size: 10px;
  }
  .redirectToLogin .maintext {
    font-size: 13px;
  }
}

@media (max-width: 421px) {
  .displayTable .displayTableCell {
    width: 80%;
  }

  .displayTable .authBlock {
    padding: 18px 20px;
  }

  .displayTable .resetpass {
    font-size: 18px;
    margin: 0.25rem 0;
  }

  .authBlock p {
    font-size: 11px;
  }

  .authBlock .form-control {
    font-size: 10px !important;
  }

  .reset .resetbutton {
    font-size: 9px;
  }
}
@media (max-width: 351px) {
  .displayTable .displayTableCell {
    width: 84%;
  }

  .displayTable .authBlock {
    padding: 12px 16px;
  }

  .displayTable .resetpass {
    font-size: 15px;
    margin: 0.15rem 0;
  }
}
