<mat-toolbar color="primary" class="toolbarForProject">
  <div class="main-wrapper">
    <div class="ProjectInfo">
      <mat-icon class="projectIcon">description</mat-icon>
      <span class="projectTitle">Appki Notes</span>
    </div>

    <div class="profile">
      <button mat-button [matMenuTriggerFor]="beforeMenu">
        <span class="useremail">{{ email }}</span>
        <i class="fas fa-caret-down"></i>
        <i class="fas fa-user" style="font-size: 18px"></i>
      </button>
      <mat-menu #beforeMenu="matMenu" xPosition="before" style="z-index: 999999999">
        <button
          mat-menu-item
          style="
            text-align: center;
            font-size: 15px;
            height: 34px;
            display: flex;
            justify-content: center;
            align-items: center;
          "
          (click)="navigateToProfile()"
        >
          Profile
        </button>
        <button
          mat-menu-item
          style="
            text-align: center;
            font-size: 15px;
            height: 34px;
            display: flex;
            justify-content: center;
            align-items: center;
          "
          (click)="auth.SignOut()"
        >
          Logout
        </button>
      </mat-menu>
    </div>
  </div>
</mat-toolbar>

<div class="routerOutlet">
  <router-outlet></router-outlet>
</div>
