<div class="displayTable">
  <div class="displayTableCell">
    <div class="authBlock">
      <h3 class="text-center SignInText">Sign In</h3>
      <div class="form-group" style="margin-bottom: 8px">
        <input
          type="email"
          class="form-control"
          placeholder="Write emal id"
          #userName
          required
          [formControl]="fieldEmail"
          [(ngModel)]="email"
        />
        <div
          class="alert alert-danger"
          role="alert"
          style="padding: 0 15px; font-size: 10px; text-align: center; margin: 0"
          *ngIf="fieldEmail.invalid && fieldEmail.touched"
        >
          <span class="text-danger" *ngIf="fieldEmail.hasError('required')">Email is Required</span>
          <span class="text-danger" *ngIf="fieldEmail.hasError('error')">Invalid Email</span>
        </div>
      </div>

      <div class="form-group" style="position: relative">
        <input
          [type]="hide ? 'text' : 'password'"
          [formControl]="fieldNewPassword"
          class="form-control"
          placeholder="Password"
          #userPassword
          required
        />
        <i class="fas" (click)="showpassword()" [ngClass]="{ 'fa-eye-slash': !hide }"></i>
        <i class="fas" (click)="showpassword()" [ngClass]="{ 'fa-eye': hide }"></i>
        <div
          class="alert alert-danger"
          role="alert"
          style="padding: 0 15px; font-size: 10px; text-align: center; margin: 0"
          *ngIf="fieldNewPassword.invalid && fieldNewPassword.touched"
        >
          <span class="text-danger">Password is required</span>
        </div>
      </div>

      <!-- ----------------------- Calling SignIn Api from AuthService ------------------------ -->
      <div class="login">
        <input
          type="button"
          class="btn btn-primary loginbutton"
          value="Log in"
          (click)="Login(userName.value, userPassword.value)"
        />
      </div>

      <div class="orpartition">
        <span class="or"><span class="orInner">-------- OR --------</span></span>
      </div>

      <!-- Calling GoogleAuth Api from AuthService -->
      <div class="googleButton">
        <button type="button" class="btn btn-danger" (click)="authService.GoogleAuth()">
          <i class="fab fa-google"></i>
          Log in with Google
        </button>
      </div>

      <div class="forgotPassword">
        <span routerLink="/forgot-password" class="forgot">Forgot Password?</span>
      </div>
    </div>
    <!-- 
    <div class="divPartition">
      <hr style="margin: 10px 0" />
    </div> -->

    <div class="redirectToLogin">
      <span class="maintext"
        >Don't have an account?<span class="redirect" routerLink="/register-user"> Sign Up</span></span
      >
    </div>
  </div>
</div>
